nextflow.enable.dsl = 2

plugins {
  id 'nf-schema@2.3.0'
}

params {
  input      = "${projectDir}/data/in.fasta"
  outdir     = "${projectDir}/results"
  max_cpus   = 96
  max_memory = '1000.GB'
  max_time   = '240.h'
  help       = false
}

process {
  errorStrategy = 'retry'
  maxRetries    = 2
}

manifest {
  name            = 'bibymaths/codonanalyzer'
  author          = 'Abhinav Mishra <mishraabhinav36@gmail.com>'
  description     = 'nf-core-style Nextflow DSL2 pipeline for codon analysis from DNA multi-FASTA input.'
  version         = '1.0.0'
  nextflowVersion = '>=24.04.0'
  doi             = '10.5281/zenodo.15384943'
}

timeline {
  enabled = true
  file    = "${params.outdir}/pipeline_info/timeline.html"
}

report {
  enabled = true
  file    = "${params.outdir}/pipeline_info/report.html"
}

trace {
  enabled = true
  file    = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
  enabled = true
  file    = "${params.outdir}/pipeline_info/dag.html"
}

includeConfig 'conf/base.config'

profiles {
  standard {
    process.executor = 'local'
    includeConfig 'conf/resources.config'
  }

  hpc {
    process.executor = 'slurm'
    includeConfig 'conf/resources.config'
  }

  docker {
    process.executor = 'local'
    docker.enabled   = true
    singularity.enabled = false
    conda.enabled    = false
    process.container = 'ghcr.io/bibymaths/codonanalyzer:latest'
    includeConfig 'conf/resources.config'
  }

  singularity {
    process.executor      = 'local'
    singularity.enabled   = true
    singularity.autoMounts = true
    docker.enabled        = false
    conda.enabled         = false
    process.container     = 'ghcr.io/bibymaths/codonanalyzer:latest'
    includeConfig 'conf/resources.config'
  }

  conda {
    process.executor = 'local'
    conda.enabled    = true
    docker.enabled   = false
    singularity.enabled = false
    process.conda    = "${projectDir}/environment.yml"
    includeConfig 'conf/resources.config'
  }

  test {
    process.executor = 'local'
    includeConfig 'conf/test.config'
  }
}
