process {
  withName: 'SPLIT_FASTA' {
    cpus   = 1
    memory = '4.GB'
    time   = '2.h'
  }

  withName: 'CODON_ANALYSIS' {
    cpus   = 1
    memory = '8.GB'
    time   = '6.h'
  }

  withName: 'LONG_ORF' {
    cpus   = 1
    memory = '8.GB'
    time   = '6.h'
  }

  withName: 'TRANSLATE_FASTA' {
    cpus   = 1
    memory = '4.GB'
    time   = '4.h'
  }

  withName: 'HYDROPATHY_PROFILE' {
    cpus   = 1
    memory = '4.GB'
    time   = '4.h'
  }

  withName: 'PLOT_HYDROPATHY' {
    cpus   = 1
    memory = '4.GB'
    time   = '4.h'
  }

  withName: 'GATHER_RESULTS' {
    cpus   = 2
    memory = '8.GB'
    time   = '4.h'
  }
}
